<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Профиль</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/main.css" type="text/css">
    </head>

    <div class="balls">
        <div class="ball-1 ball"></div>
        <div class="ball-2 ball"></div>
        <div class="ball-3 ball"></div>
    </div>

    <body>
        <main>
            <div class="container new-group">
                <div class="row">

                    <div class="col-1">
                        <div class="row">
                            <button class="btn btn-toggle">
                                <a href="/dashboard">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 -960 960 960" fill="var(--bs-body-color)"><path d="M640-80 240-480l400-400 71 71-329 329 329 329-71 71Z"/></svg>
                                </a>
                            </button>
                        </div>
                    </div>
                    <div class="col-9"></div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <button class="btn btn-toggle">
                            <svg xmlns="http://www.w3.org/2000/svg" width="100%" viewBox="0 -960 960 960"  fill="var(--bs-body-color)"><path d="M234-276q51-39 114-61.5T480-360q69 0 132 22.5T726-276q35-41 54.5-93T800-480q0-133-93.5-226.5T480-800q-133 0-226.5 93.5T160-480q0 59 19.5 111t54.5 93Zm246-164q-59 0-99.5-40.5T340-580q0-59 40.5-99.5T480-720q59 0 99.5 40.5T620-580q0 59-40.5 99.5T480-440Zm0 360q-83 0-156-31.5T197-197q-54-54-85.5-127T80-480q0-83 31.5-156T197-763q54-54 127-85.5T480-880q83 0 156 31.5T763-763q54 54 85.5 127T880-480q0 83-31.5 156T763-197q-54 54-127 85.5T480-80Zm0-80q53 0 100-15.5t86-44.5q-39-29-86-44.5T480-280q-53 0-100 15.5T294-220q39 29 86 44.5T480-160Zm0-360q26 0 43-17t17-43q0-26-17-43t-43-17q-26 0-43 17t-17 43q0 26 17 43t43 17Zm0-60Zm0 360Z"/></svg>
                        </button>
                    </div>
                </div>

                <div class="row">
                    <h3 class="name">{{user.email}}</h3>
                </div>
            </div>
            


        

            <div class="container body-con">
                <div class="row new-group">
                    <button class="btn btn-block">
                        <a href="/users/edit">
                            <div class="col head-text volume">
                                    <h3>Редактировать</h3>
                            </div>
                        </a>
                    </button>
                </div>
                <div class="row new-group">
                    <button class="btn btn-block">
                        <a href="/">
                            <div class="col head-text volume">
                                    <h3>Выход</h3>
                            </div>
                        </a>
                    </button>
                </div>
                <div class="row new-group">
                    <button class="btn btn-block">
                        <a href="/users/{{user.id}}">
                            <div class="col head-text volume">
                                    <h3>Удалить аккаунт</h3>
                            </div>
                        </a>
                    </button>
                </div>
            </div>

        </main>


        

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
    </body>
</html>
