<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>FinGuide</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/main.css" type="text/css">
    </head>

    <div class="balls">
        <div class="ball-1 ball"></div>
        <div class="ball-2 ball"></div>
        <div class="ball-3 ball"></div>
    </div>

    <body>
        <main>
            <div class="container new-group">


                <div class="row">
                    <div class="col-10 guide">
                        <h1>FinGuide</h1>
                        <p>Это сайт для управлния своими финансами</p>
                        <p>Позволяющий пользователям категоризировать траты,
                             анализировать их с помощью графиков и совместно планировать бюджет в рамках семьи или рабочих групп.</p><br><br><br>
                        <p></p>
                    </div>
                </div>
            </div>
            

            <div class="container body-con">

                <div class="row">
                    <div class="row">
                        <label for="">Для создания счета зарегестрируйтесь или войдите в аккаунт</label>
                    </div>
                    <div class="row mini-block">
                        <button class="btn btn-mini-block l">
                            <a href="/auth/login">
                                <div class="col head-text volume">
                                    <h3>Вход</h3>
                                </div>
                            </a>
                        </button>
                        <button class="btn btn-mini-block r">
                            <a href="/auth/register">
                                <div class="col head-text volume">
                                    <h3>Регистрация</h3>
                                </div>
                            </a>
                        </button>
                    </div>
                </div>

                <div class="row">
                    <div class="row">
                        <label for="">Пригласите родственников, коллег и друзей чтобы создать общий счет</label>
                    </div>
                </div>
            </div>

        </main>


        

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
    </body>
</html>
